body {
  background: rgba(29, 220, 237,0);
  font-family: sans-serif;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sideNavigation {padding-top: 15px;}
  .sideNavigation a {font-size: 18px;}
}
 
.sideNavigation {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(0, 137, 224, 0.39);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sideNavigation a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(255, 255, 255);
  display: block;
  transition: 0.3s;
}

.sideNavigation a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

.sideNavigation .closeButton {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
   
* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
.formStyle { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
.formStyle input { border-width: 3px; padding: 5px; width: 335px; margin-right: .2%; }
.formStyle button { width: 50px; background: rgb(20, 150, 200); border: 1; padding: 5px; }
#myMessages { list-style-type: none; margin: 0; padding: 0; }
#myMessages li { padding: 5px 10px; }
#myMessages li:nth-child(odd) { background: #eee; }
#myMessages { margin-bottom: 40px }





     
