h1 {
    text-align: center;

}

.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}

.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}

.btn-gplus{
    color: #fff;
    background-color:#d34836;
}
.btn-gplus:hover{
    color: #fff;
    background-color:##d34836;
}



/* style for index*/

row a {
    color: green;
}

