{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico">

    <title>Starter Template for Bootstrap</title>-->

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">

    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/chat.js' %}" type="text/javascript"></script>
    <!-- Add IntroJs styles -->
    <link href="{% static 'intro.js-2.5.0/introjs.css' %}" rel="stylesheet">
          
    <script type="text/javascript" src="{% static 'intro.js-2.5.0/intro.js' %}"></script>


    {% block head_extra %}
    {% endblock %}

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">16 Pawns</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'index' %}">Home</a></li>

            <li><a href="{% url 'rules' %}" data-step="2" data-intro="You can read the rules of the game here.">Rules</a></li>
            <li><a href="{% url 'usermanual' %}" data-step="7" data-intro="You can read more user documentation here.">User Manual</a></li>
            <li><a href="{% url 'leaderboard' %}" data-step="6" data-intro="Checkout the top 10 players with the most number of wins.">Leaderboard</a></li>
            {% if request.user.is_authenticated %}

              <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}

            {% endif %}
          </ul>
	  <!--{% if request.user.is_authenticated %}
          <ul style="float:right;" class="nav navbar-nav">
            <div id="main">
              <li><span onclick="openNavigation()" style="color:white; cursor:pointer">Chat &#9776;</span></li>
            </div>
            <div id="mySideNavigation" class="sideNavigation">
              <a class="closeButton" onclick="closeNavigation()">&times;</a>
              <div>
                <ul id="myMessages"></ul>
                <form id="myFormStyle" class="formStyle">
                  <input id="chat_input" type="text" autocomplete="off">
                  <button id="send_message" onclick="sendMessage()">Send</button>
                </form>
              </div>
            </div>
          </ul>
          {% endif %}-->
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <br><br><br>
      <div class="row">


      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      {% block body %}
      {% endblock %}
      </div>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>-->
    
    
    
    <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
         
         ga('create', 'UA-69239984-1', 'auto');
         ga('send', 'pageview');
        </script>
    
  </body>
</html>
