{% load static %}

    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml">
        <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
            <meta name="description" content="" />
            <meta name="author" content="" />
            <!--[if IE]>
             <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
             <![endif]-->
            <title>Chat</title>
            
        </head>
        <body style="font-family:Verdana">
            <div class="container">
                <div class="row " style="padding-top:40px;">
                    <div class="col-md-8" data-step="5" data-intro="You can chat with people here.">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                CHAT ROOM
                            </div>
                            <div class="panel-body">
                                <ul class="media-list" id="group_chat" style="min-height:50px">
                                    
                                 </ul>
                            </div>
                            <div class="panel-footer" style="min-height:50px">
                                <div class="input-group">
                                    <input id="chat_message" type="text" class="form-control" placeholder="Enter Message" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-info" type="button" onclick="sendMessage()">SEND</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" data-step="4" data-intro="You can see a list of online users here.">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                ONLINE USERS
                            </div>
                            <div class="panel-body">
                                <ul class="media-list" id="online_users">
                                    
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                 
                 ga('create', 'UA-58126461-1', 'auto');
                 ga('send', 'pageview');
                 
                </script>
        </body>
    </html>
