<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Welcome to 16 pawns</title>

  <link href="style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h1>Credit</h1>
		</div>
	</div>

  
	<div class= "row">
		<div class="col-lg-12 text-center">
      			<h3><a href="mailto:isatousanneh14@hotmail.com">Isatou Sanneh</a> </h3><br>
      			<h3><a href="mailto:fahadu90@gmail.com">Fahad Uddin</a></h3><br>
      			<h3><a href="mailto:b.rosanlall@gmail.com">Bharat Rosanlall</a></h3><br>
      			<h3><a href="mailto:tpatrick1496@gmail.com">Vladimir Toussaint</a></h3>
		</div>
	</div>

	<div class="row">
 		<a class="w3-left w3-btn" href="{% url 'index' %}"> <h1>❮ Back to Menu </h1> </a>
	</div>

</html>
