{% extends 'base.html' %}
{% load static %}

{% block head_extra %}
  <title>Welcome to 16 pawns</title>

  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">

{% endblock %}

{% block body %}
  <div class="row">
    <h1> My Games </h1> <br>
    {% if object_list|length > 0 %}
      <div class="row">
        {% for game in object_list %}
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail alert-success">
              <div class="caption">
                <h3>Status: {% if game.status == "IP" %}Game In Progress{% elif game.status == "GO" %}Game Over{% elif game.status == "M"%}Waiting for a Player{% endif %}</h3>
                <p>
                  This game was created on {{ game.date }} <br>
                  {% if game.player1 %}
                    <b>First Player:</b> {{ game.player1.first_name }} <br>
                    <b>Score:</b> {{ game.player1_score }} <br>
                  {% endif %} <br>
                  {% if game.player2 %}
                    <b>Second Player:</b> {{ game.player2.first_name }} <br>
                    <b>Score:</b> {{ game.player2_score }} <br>
                  {% endif %} <br>
                </p>
                <p>
                  {% if game.status == "GO" and game.winner == request.user %}
                    Congratulations! You won this game! <br>
                  {% elif game.status == "GO" and game.winner != request.user %}
                    Sorry, you lost this game!
                  {% endif %}
                </p>
                <p>
                  {% if game.status == "IP" or game.status == "M" %}
                    <div align="center"><a href="{% url 'game' game.id %}" class="btn btn-primary" role="button">Resume</a></div> 
                  {% endif %}
                </p>
              </div>
            </div>
          </div>

        {% endfor %}
      </div>
    {% else %}
      You do not have any games.
    {% endif %}
  </div>
{% endblock %}

