{% extends 'base.html' %}
{% load static %}
{% block body %}

    <div class="row" id="game"><br><br>
                {% include 'modal.html' %}
                <div class="col-sm-3">
                  <h2>Player 1<img src="{% static 'img/player1.png' %}" width="50px" height="50px"/></h2>
                  <h3 id="player1"> 
                    {% if game.player1 %} 
                      {{ game.player1.first_name }} 
                    {% else %} 
                      Waiting for first player to join. 
                    {% endif %}
                  </h3>
                  <h3 id="player1_turn"></h3>
                  <h3>Score: <span id="player1_score">{{ game.player1_score }}</span></h3>
                </div>
	  	<div class="col-sm-6">
                        <div id="alert" class="alert alert-success" role="alert">
                            Welcome {{ request.user.first_name }}
                        </div>
	   		<canvas id="canvas" width="450" height="700" style="border:2px solid #000000;">
	   		</canvas>
	  	</div>
                <div class="col-sm-3">
                  <h2>Player 2<img src="{% static 'img/player2.png' %}" width="50px" height="50px"/></h2>
                  <h3 id="player2"> 
                    {% if game.player2 %} 
                      {{ game.player2.first_name }} 
                    {% else %} 
                      Waiting for second player to join.
                    {% endif %}
                  </h3>
                  <h3 id="player2_turn"></h3>
                  <h3>Score: <span id="player2_score">{{ game.player2_score }}</span></h3>
                </div>
    </div>

  <script type="text/javascript">
    var game_id = {{ game.id }};
    var user_id = {{ request.user.id }};
    var player1_id = {{ game.player1.id }};
    {% if game.player2 %}
      var player2_id = {{ game.player2.id }};
    {% endif %}
    var current_player_id = {{ game.current_player.id }};
    var player_num = {{ player_num }};
    var status = '{{ game.status }}';
    var player1_score = {{ game.player1_score }};
    var player2_score = {{ game.player2_score }};
  </script>
    
  <!-- Note: Do not move this file to the top of the page. The click events for the board
       (i.e. keeping track of board postions clicked and moving pawns) only work if 
       it is placed at the bottom -->

  <script type="text/javascript"> 
    var django_board = (("{{game.board_data|safe}}").replace(/&(l|g|quo)t;/g, function(a,b){
      return{
        l : '<',
        g : '>',
        quo : '"'
      } [b];
    }));

    django_board = django_board.replace(/u'/g, '\'');
    django_board = django_board.replace(/'/g, '\"');

    board_json = JSON.parse(django_board);
  </script>
  


  <script src="{% static 'js/connect_game.js' %}"> </script>

  <script src="{% static 'js/16pawns.js' %}"> </script>
  <script>
    document.body.onload = Draw();
    //setInterval(refreshBoard,10000);
  </script>

<!--// socket communication
// Note that the path doesn't matter for routing; any WebSocket
// connection gets bumped over to WebSocket consumers
socket = new WebSocket("ws://" + window.location.host + "/chat/");
socket.onmessage = function(e) {
    //alert(e.data);
}
socket.onopen = function() {
    socket.send("hello world");
}
// Call onopen directly if socket is already open
if (socket.readyState == WebSocket.OPEN) socket.onopen();
-->

{% endblock %}
