{% extends 'base.html' %}
{% load static %}

{% block head_extra %}
  <title>Welcome to 16 pawns</title>

  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">

{% endblock %}

{% block body %}
  <div class="container-fluid">
    <h1>Welcome to 16 pawns {{ request.user.first_name }}<br><br></h1>
    {% if not request.user.is_authenticated %}
      <h3>Already have an account?</h3>

      <div class="row">
        <div class="col-md-12">
          <!--<h5>Login via</h5>

          <div class="social-buttons">
            <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
            <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
            <a href="#" class="btn btn-gplus"><i class="fa fa-google-plus"></i> Google +</a>
          </div>

          <h5>or</h5>-->

          <form class="form" role="form" method="post" action="{% url 'login' %}" accept-charset="UTF-8" id="login-nav">
             {% csrf_token %}
            {% if form.email.errors %}
              <ul>
                {% for error in form.email.errors %}
                  <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
              </ul>
            {% endif %}
             <div class="form-group">
                <label class="sr-only" for="id_email">Email address</label>
                <input type="email" class="form-control" id="id_email" name="email" placeholder="Email address" required>
             </div>
             <div class="form-group">
                <label class="sr-only" for="id_password">Password</label>
                <input type="password" class="form-control" id="id_password" name="password" placeholder="Password" required>
                <div class="help-block text-right"><a href="">Forget the password ?</a></div>
             </div>
             <div class="form-group">
                <button id="id_login" type="submit" class="btn btn-primary btn-block">Sign in</button>
             </div>
             <div class="checkbox">
                <label>
                <input type="checkbox"> keep me logged-in
                </label>
             </div>
          </form>
       </div>
       <div class="bottom text-center">
        <h5> New here ? <a href="{% url 'signup' %}"><b>Join Us</b></a></h5>
       </div>
    {% else %}
    
    <div class="row" align="center">
        <a id="demo" class="btn btn-large btn-success" href="javascript:void(0);">Show me around</a><br><br>
    </div>
    

	<div class="row" style="border:1px solid black">
		<div class="col-lg-12 text-center" style="border-radius">
			<a id="id_new_game" href="{% url 'new_game' %}" class="btn btn-lg btn-default" data-step="1" data-intro="You can create a new game here.">New Game</a>
			<br/>
			<br/>
			<!--<a id="id_invite" href="{% url 'invite_friend' %}" class="btn btn-lg btn-default">Invite your friends</a>
			<br><br/>-->
			<a id="id_credit" href="{% url 'credits' %}" class="btn btn-lg btn-default">Credit</a>
			<br>
			<br>
            <a id="id_my_games" href="{% url 'game_list' %}" class="btn btn-lg btn-default" data-step="3" data-intro="My Games shows a list of your previous and current games">My Games</a>
            <br/>
            <br/>


		</div><!--end of col-lg-12-> -->
                
	</div><!--end of row->-->


    <br><br>

    {% include "chat.html" %}

    {% endif %}
    </div> <!-- end of row -->
  </div> <!-- end of container-fluid-->

{% if request.user.is_authenticated %}

<script>

if (window.location.protocol == "https:") {
  var ws_scheme = "wss://";
} else {
  var ws_scheme = "ws://"
};

var online_users = document.getElementById("online_users");
var group_chat = document.getElementById("group_chat");

socket = new WebSocket(ws_scheme + window.location.host + "/welcome");
socket.onmessage = function(e) {
  data = JSON.parse(e.data);
  if(data.online_users) {
    console.log(data.online_users);
    online_users.innerHTML = "";
    for(i=0; i<data.online_users.length; i++) {
      console.log('hh');
      console.log(data.online_users[i].name);


      var node = document.createElement("LI");                 // Create a <li> node
       node.class = "media";
      var user = document.createTextNode(data.online_users[i].name);         // Create a text node
      
      
      
      
      li = "<div class='media-body'>\
           <div class='media'>\
           <div class='media-body'>\
           <h5>" + data.online_users[i].name+ "</h5>\
           </div>\
           </div>\
           </div>";
           
      node.innerHTML = li;
      
      
      //node.appendChild(user);

      online_users.appendChild(node);
    }
  }
  
  if(data.status == "welcome") {
      
      
      var node2 = document.createElement("LI");                 // Create a <li> node
      node2.class = "media";
      
      
      chat_li = "<div class='media-body'>\
      <div> </div>\
      <div class='media'>\
      <div class='media-body'>" + data.user + " has joined the chat"
      "<hr/>\
      </div>\
      </div>\
      </div>"
      
      node2.innerHTML = chat_li;
      
      
      //node.appendChild(user);
      
      group_chat.appendChild(node2);
      chat: $("#chat_message").val("");
      
  }
  
  else if(data.status == "exit") {
      
      
      var node2 = document.createElement("LI");                 // Create a <li> node
      node2.class = "media";
      
      
      chat_li = "<div class='media-body'>\
      <div> </div>\
      <div class='media'>\
      <div class='media-body'> " + data.user + " has left the chat"
      "<hr/>\
      </div>\
      </div>\
      </div>"
      
      node2.innerHTML = chat_li;
      
      
      //node.appendChild(user);
      
      group_chat.appendChild(node2);
      chat: $("#chat_message").val("");
      
  }
  
  if(data.chat) {
      var node2 = document.createElement("LI");                 // Create a <li> node
      node2.class = "media";
      
      
      chat_li = "<div class='media-body'>\
      <div><b>" + data.user + ":</b></div>" +
      "<div class='media'>\
      <div class='media-body'>" + data.chat +
      "<hr/>\
      </div>\
      </div>\
      </div>"
      
      node2.innerHTML = chat_li;
      
      
      //node.appendChild(user);
      
      group_chat.appendChild(node2);
    chat: $("#chat_message").val("");
      
  }
  
}

function sendMessage() {
    console.log("chat");
    data = {
        chat: $("#chat_message").val(),
        status: "chat",
    }

    socket.send(JSON.stringify(data));
}

socket.onopen = function() {
    data = {"status": "welcome"
           }
    socket.send(JSON.stringify(data));
}
</script>

{% endif %}


<script type="text/javascript">
    document.getElementById('demo').onclick = function() {
        introJs().start();
    };
</script>



{% endblock %}
