{% extends 'base.html' %}
{% load static %}

{% block head_extra %}
  <title>Welcome to 16 pawns</title>

  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">

{% endblock %}

{% block body %}
  <div class="row">
    <h1> Leaderboard </h1> <br>

    {% if object_list|length > 0 %}
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h4>Top 10 Users with the Most Wins</h4></div>
        <!--<div class="panel-body">
        </div>-->
        
        <!-- Table -->
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>User</th>
                    <th>Number of Wins</th>
                </tr>
            </thead>

            {% for stat in object_list %}
            <tbody>
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ stat.winner.first_name }}</td>
                <td>{{ stat.num_wins }}</td>
              </tr>
            </tbody>
          {% endfor %}
        </table>
      </div>
    {% else %}
      There are no statistics.
    {% endif %}
  </div>
{% endblock %}

