{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="container-fluid">
  <div class="column">

    <div class="row">
	<div class="col-lg-12 text-center">
        <h1>Rules</h1>
    </div>

    <div class= "row">
      <h3>1. 16 Pawns is a two player game.
      </h3>
      <br>
      <h3>2. Each player have 16 pawns.
      </h3>
      <br>
      <h3>3. The objective of the game is to take all your opponent's pawns or place them in a position where they can no longer make any moves.
      </h3>
      <br>
      <h3>4. All pawns, can move only diagonal and straight lines. Pawns can only move to adjacent unoccupied spaces except when making a jump (see below).
          All pawns can move and jump forwards as well as backwards.
      </h3>
      <br>
      <p><h3>5. If one player's pawn has the opposing player's pawn as a diagonal or straight neighbor and the space behind the opposing player's pawn is unoccupied the player can make a jump and remove their opponent's pawn from the board.
          If after making a jump another jump is possible the player can jump again. One player can jump double, triple and more times to remove opponent's pawns if possible.
      </h3>
      <br>
      <h3>6. Every player is forbidden to make same move more then 3 times.</h3>
      <br>
      <h3>7. Every player is forbidden to move same pawn continuously more then 3 times.</h3>
    </div>

    <div class="row">
      <a class="w3-left w3-btn" href="{% url 'index' %}">
      <h1>❮ Back to Menu
      </h1>
      </a>
    </div>

  </div>


</div>
{% endblock %}
