{% extends 'base.html' %}
{% load static %}

{% block head_extra %}
  <title>Welcome to 16 pawns</title>

  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

{% endblock %}

{% block body %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1> Sign up!</h1>
      <form action="{% url 'signup' %}" method="post" class="form" role="form">
        {% csrf_token %}
        <div class="row">
          <div class="col-xs-6 col-md-6">
            {% if form.first_name.errors %}
              <ul>
                {% for error in form.first_name.errors %}
                  <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
              </ul>
            {% endif %}
            <input class="form-control" id="id_first_name" name="first_name" placeholder="First Name" type="text" required autofocus />
          </div>

          <div class="col-xs-6 col-md-6">
            <input class="form-control" id="id_last_name" name="last_name" placeholder="Last Name" type="text" required />
            {% if form.last_name.errors %}
              <ul>
                {% for error in form.last_name.errors %}
                  <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>

        <input class="form-control" id="id_email" name="email" placeholder="Your Email" type="email" />
        <input class="form-control" id="id_email_cn" name="email_cn" placeholder="Re-enter Email" type="email" />
        {% if form.email.errors %}
          <ul>
            {% for error in form.email.errors %}
              <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
          </ul>
        {% endif %}

        <input class="form-control" id="id_password" name="password" placeholder="Password" type="password" />
        <input class="form-control" id="id_password_cn" name="password_cn" placeholder="Re-enter password" type="password" />
        {% if form.password.errors %}
          <ul>
            {% for error in form.password.errors %}
              <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
          </ul>
        {% endif %}

        <label class="radio-inline">
        <input type="radio" name="sex" id="inlineCheckbox2" value="proud" />
          Proud
        </label>
        <label class="radio-inline">
          <input type="radio" name="sex" id="inlineCheckbox1" value="male" />
          Male
        </label>
        <label class="radio-inline">
          <input type="radio" name="sex" id="inlineCheckbox2" value="female" />
          Female
        </label>

        <br />
        <br />
        <button id="id_sign_up" class="btn btn-lg btn-primary btn-block" type="submit">
          Sign up
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
