{% extends 'base.html' %}
{% load static %}

{% block body %}


<div class="container-fluid">
  <div class="column">


    <div class="col-lg-12 text-center">
    <h1>16 Pawns Game User Manual</h1>

    <h2>Created By</h2>

    <h3>Isatou Sanneh</h3>
    <h3>Fahad Uddin</h3>
    <h3>Bharat Rosanlall</h3>
    <h3>Vladimir Toussaint</h3>

    <h2>Supervised By</h2>
    <h3>Professor Michael Grossberg</h3>

    <h5>A class project for Advanced Internet Programming class (Spring 2017).</h5>
    </div>


    <div class= "row">
      <p>
        <h2>Introduction</h2><br>

      16 pawns is popular strategy board game mostly played in rural Bangladesh and some part of India.
      We have created the very first web application of this game. This application is a 2-D version of this game.
      This game requires two players. Players can play this game from their computer over the internet.

      <h2>Rules of the Game</h2><br>

      The rules of the game are listed below,<br>

      1. 16 Pawns is a two player game.<br>
      2. Each player have 16 pawns.<br>
      3. The objective of the game is to take all your opponent's pawns or place them in a
      position where they can no longer make any moves.<br>
      4. All pawns, can move only diagonal and straight lines. Pawns can only move to
      adjacent unoccupied spaces except when making a jump (see below). All pawns can
      move and jump forwards as well as backwards.<br>
      5. If one player's pawn has the opposing player's pawn as a diagonal or straight
      neighbor and the space behind the opposing player's pawn is unoccupied the player
      can make a jump and remove their opponent's pawn from the board. If after making a
      jump another jump is possible the player can jump again. One player can jump double,
      triple and more times to remove opponent's pawns if possible.<br>
      6. Every player is forbidden to make same move more than 3 times.<br>
      7. Every player is forbidden to move same pawn continuously more than 3 times.

      <h2>Sign In</h2><br>
      <div class="col-lg-12 text-center">
        <img src="https://bitbucket.org/repo/KrMzrMr/images/748291121-login.jpeg" style="width:500px;height:400px;">
        <h3>Figure: 01</h3>
      </div>
      Figure 01 is the screenshot of the login page. When an user enter to the web address, this will be the page they land on. User have to login using their email address and password they provided during registration. After signing in user can go to their profile.

      <h2>Sign Up</h2><br>
      <div class="col-lg-12 text-center">
        <img src="https://bitbucket.org/repo/KrMzrMr/images/760837519-signup.jpeg" style="width:500px;height:400px;">
        <h3>Figure: 02</h3>
      </div>
      In order to play and use our application an user have to be a registered user. An user can sign up to our web application by click on the “join us” button. After clicking “join us” button user will enter to a form. After successfully filling up the form user can click ‘sign up’ button to complete registration.

      <h2>New Game</h2><br>
      <div class="col-lg-12 text-center">
        <img src="https://bitbucket.org/repo/KrMzrMr/images/3632997702-base.jpeg" style="width:500px;height:400px;">
        <h3>Figure: 03</h3>
      </div>
      Figure 03 shows the profile page of the user. In this page user will have option to create a new game, invite their friend and knowing the credit of this application. When user clicks on ‘New game’, it will direct the user to a new game with another user.

      <h2>Credit</h2><br>
      User will be able to know and contact the persons behind this project on ‘credit section’.

      <h2>My game</h2><br>
      <div class="col-lg-12 text-center">
        <img src="https://bitbucket.org/repo/KrMzrMr/images/2435282261-mygame.jpeg" style="width:500px;height:400px;">
        <h3>Figure: 04</h3>
      </div>
      User will be able know ongoing game  they are playing in this feature. User will be also able to resume their games from this feature.

      <h2>Leader Board</h2><br>
      User will be able to know which player wins most games from this feature.

      <h2>Logout</h2><br>
      User can get away from this application by clicking ‘logout’ button on the top of the page.
      </p>

    </div>

    <div class="row">
      <a class="w3-left w3-btn" href="{% url 'index' %}">
      <h1>❮ Back to Menu
      </h1>
      </a>
    </div>
</div>

{% endblock %}
